<!DOCTYPE html>
<html>
  <head>
    <title>Lab2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body env="<%= request.base_url %>">
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Продажа машин</span>
  </nav>

    <%= yield %>
  </body>
</html>
